.paginator {
    border-radius: 0.25rem;
    display: flex;
    padding-left: 0;
  
    &__item:first-child &__link {
      border-top-left-radius: 1.25rem !important;
      border-bottom-left-radius: 1.25rem !important;
    }
  
    &__item:last-child &__link {
      border-top-right-radius: 1.25rem !important;
      border-bottom-right-radius: 1.25rem !important;
    }
  
    &__link {
      border: 1px solid $light-gray !important;
      color: $eerie-black !important;
      font-family: $primary-font;
      font-size: $medium;
      font-weight: $primary-font-regular;
      //margin-left: -1px;
    }

    &__item.--active &__link {
      background-color: $nickel !important;
      border-color: $nickel !important;
      color: $white !important;
      //z-index: 1;
    }
  
    &__link:hover {
      color: $nickel !important;
      text-decoration: none;
    }
  }
  