.navigation-bar {
    background-color: $raisin-black!important;
  
    &__brand {
      height: auto;
      width: 80px;
      padding-top: 10px;
      margin-left: 75px;
    }
}

.navigation-bar__menu {
  margin-right: 150px;
}

.menu {

  &__link {
    color: $light-gray;
  }

  &__link--active {
    color: $ruddy-pink;
  }

  &__link:hover,  &__link--active:hover  {
    color: $ruddy-pink;
  }
}