.header {
    background-image: url('../images/post-image.jpg');
    background-position: center;
    background-size: cover;
    color: $white;
    display: table;
    font-family: $secondary-font;
    font-style: $secondary-font-italic;
    font-weight: $secondary-font-bold;
    height: 600px;
    text-align: center;
  
    &__text {
      font-size: $xx-large;
      display: table-cell;
      padding: 0 65px;
      vertical-align: middle;
    }
}
.post {
    font-size: $medium;
    padding: 40px 40px 0;
  
    &__date {
      color: $nickel;
      font-family: $secondary-font;
      margin: 0 0 40px;
    }
  
    &__text {
      font-family: $primary-font;
      line-height: 2;
    }
  
    &__social {
      height: 50px;
      margin: 50px 0;
      text-align: center;
    }
}     
.related {
    border: 1px solid $platinum;
    padding: 50px;
  
    &__info {
      padding: 20px 0 0;
      text-align: center;
    }
  
    &__name {
      color: $eerie-black;
      font-family: $secondary-font;
      font-size: $x-large;
      font-style: $secondary-font-italic;
      font-weight: $secondary-font-bold;
    }
  
    &__name,
    &__social,
    &__site {
      display: block;
    }
}  

.navigation-pages {
    background-color: $light-gray;
  
    &__wrapper {
      margin: 50px auto;
    }
}
  